@import '../variables.scss';

.contact-ctn {
    min-height: 75vh;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    min-width: 50vw;
    padding: 0 2em;
    gap: .5em;
    color: black;
    margin: auto;
    z-index: 1;
    
    & > textarea {
        background-color: transparent;
        border: 1px solid rgba(128, 128, 128, 0.486);
        border-radius: 10px;
        padding: 1em;
        color: $accent;
    }
    & > input {
        color: $accent;
        border-radius: 10px;
        padding: 1em;
        border: 1px solid rgba(128, 128, 128, 0.479);
        background-color: transparent;
    }

    input:nth-child(1) {
        grid-column: span 5;
        grid-row: 1 / 2;

    }
    input:nth-child(2) {
        grid-column: span 5;
        grid-row: 1 / 2;

    }
    input:nth-child(3) {
        grid-column: span 10;
        grid-row: 2 / 3;
    }

    
}

#send-btn {
   outline: $accent 1px solid;
    border: none;
   background-color: $secondary-o1;
   color: white;
   text-transform: uppercase;
   text-align: center;
   grid-column: 5 / span 2;
   font-weight: 700;
   border-radius: 6px;
   transition: 250ms all ease-in-out;
   cursor: pointer;

   &:hover {
       background-color: $accent;
       outline: $secondary 1px solid;
       color: black;
   }
}

#message {
    grid-column: span 10;
    grid-row: span 5;
    font-family: $font-montserrat;
}