@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

$font-bebas-neue:  'Bebas Neue', sans-serif;
$font-montserrat:  Montserrat, sans-serif;
$font-oxygen:      Oxygen, sans-serif;
$font-default: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

// Colors:
$font-color: white;
$bg-color: #000000;
$accent: #1edfa5;
$secondary: teal;
$secondary-o2: rgba(0, 128, 128, 0.322);
$secondary-o1: rgba(0, 128, 128, 0.164);

// Styles

$style-neon-shadow: $secondary 15px 15px 100px;
$style-neon-shadow-no-spread: $secondary 15px 15px 0px;

// Layout

$section-clamp: clamp(400px, 80svw, 2000px);

// Colors

$metro-blue: #05A8AA;
$metro-celadon: #B8D5B8;
$metro-desert: #D7B49E;
$metro-flame: #DC602E;
$metro-red: #BC412B;

$metro-light-blue: #81A1BC;